<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.common.download">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>

        <!-- 9.0及以上需要在這裡添加provider -->
        <provider
            android:name=".base.DownloadProvider"
            android:authorities="${applicationId}.DownloadProvider"
            android:enabled="true"
            android:exported="false" />

        <service android:name=".DownloadNotificationService" android:exported="false" />
    </application>

</manifest>